services:
  board-service:
    image: 267837905230.dkr.ecr.ap-northeast-2.amazonaws.com/board-system/board-service:latest
    ports:
      - "8081:8080"
    environment:
      SERVER_PORT: 8080
      SPRING_DATASOURCE_URL: jdbc:mysql://${DB_HOST}:3306/board_db
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      SPRING_KAFKA_BOOTSTRAP_SERVERS: host.docker.internal:9092
      SPRING_DATA_REDIS_HOST: http://host.docker.internal:6379
      USER_SERVICE_URL: http://host.docker.internal:8080
      POINT_SERVICE_URL: http://host.docker.internal:8082